node_modules
npm-debug.log
.env
.env.*
!.env.example
.git
.gitignore
.DS_Store
.vscode
.idea
data/db
data/*.wt
data/_mdb_catalog.wt
data/journal
data/diagnostic.data
data/mongod.lock
*.log
README.md
readme.md
