version: "2.2"
services:
    mongo:
        image: mongo
        volumes: 
            - ./testdata:/data/db
        ports:
            - "27017:27017"
    web:
        build: .
        ports:
            - "8080:8080"
        depends_on:
            - mongo
